<div class="container py-5">
  <div class="mb-5">
    <h1 class="fw-bold">Welcome to TaskMaster Pro</h1>
    <div class="text-start mb-4">
      <p class="text-white-50 h4 ps-1">Your productivity, our priority</p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4 mb-4">
      <div class="border text-center p-3 goals-square">
        <h4 class="text-white">Goals</h4>
        <span class="square-number fw-bold">{{
          activeDisplayValue  | number : "1.0-0"
        }}</span>
        <p class="active-text">Active</p>
      </div>
    </div>
    <div class="col-4 mb-4">
      <div class="border text-center p-3 goals-square">
        <h4 class="text-white">Goals</h4>
        <div class="d-flex align-items-center justify-content-center">
          <span class="square-number fw-bold">
            {{ achievedDisplayValue  | number }}
          </span>
          <span
            class="material-icons text-warning ms-2"
            style="vertical-align: middle"
          >
            star
          </span>
        </div>
        <p class="achieved-text">Achieved</p>
      </div>
    </div>
  </div>
  <app-reminders></app-reminders>
</div>
