@use 'assets/scss/variables';


/* Global styles */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

/* Card styles */
.login-card, .dashboard-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}


/* Toolbar styles */
mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.signup-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
