<div class="login-container dark-theme">
  <mat-card class="login-card">
    <mat-card-header class="card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form pt-5">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-icon matPrefix>mail</mat-icon>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-card-actions class="form-actions">
          <button mat-raised-button 
                  color="primary" 
                  type="submit" 
                  class="login-btn"
                  [disabled]="!loginForm.valid">
            Login
          </button>
          <button mat-button 
                  type="button" 
                  class="signup-link"
                  [routerLink]="'/signup'">
            Don't have an account? Sign Up
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
